<style>
div.usermenu a[data-title^="profile"],
div.usermenu a[data-title^="mymoodle"],
#nav-drawer a[data-key="myhome"], 
div.usermenu .dropdown-divider
{
	display: none;
	border:none;
}
.avatars .userpicture {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
}
.login {
	opacity: 0!important;
}
.login a{
 	display:none!important;
}
@font-face { /* where FontName and fontname represents the name of the font you want to add */
     font-family: 'snackercomic';
     src: url([[font:theme|snackercomic.ttf]]);
     src: url([[font:theme|snackercomic.ttf]]) format('truetype');
     font-weight: normal;
     font-style: normal;
   }

.navbar-fhs {
	background:#019101;
}
.navbar-brand, .navbar-brand .site-name {
	display: inline-block!important;
}

.navbar-brand .site-name {
	font-family: snackercomic;
	color: #fff;
	font-size: 38px;
    	font-weight: 600;
}
.site-second-name {
	color: white;
}
.usertext {
	color:white;	
}
.dropdown-toggle::after {
	color:white;                                                                                          
}
@media only screen and (min-width: 570px) {
       .col-md-4 {
	flex: 0 0 33.20%;
    	max-width: 33.20%;
}
}
@media only screen and (min-width: 398px) and (max-width: 569px) {
       .col-md-4 {
	flex: 0 0 33.20%;
    	max-width: 33.20%;
}
}
@media only screen and (min-width: 376px) and (max-width: 397px) {
	.col-sm-4 {
	flex: 0 0 31.20%;
    	max-width: 31.20%;
}
       .col-sm-6 {
	flex: 0 0 41.20%;
    	max-width: 41.20%;
}
	.col-sm-6 .site-name {
	-webkit-transform: translateX(-8px);
	-moz-transform: translateX(-8px);
	-o-transform: translateX(-8px);
	-ms-transform: translateX(-8px);
}
.col-sm-2 {
	flex: 0 0 27.30%;
    	max-width: 27.30%;
}
}
@media only screen and (min-width: 349px) and (max-width: 375px) {
	.col-sm-4 .teacherdash, .col-sm-4 .editingbutton, .col-sm-6 .site-name {
	-webkit-transform: translateX(-8px);
	-moz-transform: translateX(-8px);
	-o-transform: translateX(-8px);
	-ms-transform: translateX(-8px);
}
	.col-xs-4 {
	flex: 0 0 31.20%;
    	max-width: 31.20%;
}
	.col-xs-6 {
	flex: 0 0 43.20%;
    	max-width: 43.20%;
}
}
@media only screen and (min-width: 200px) and (max-width: 348px) {
	.col-sm-4 .teacherdash, .col-sm-4 .editingbutton, .col-xxs-4 .site-name {
	-webkit-transform: translateX(-8px);
	-moz-transform: translateX(-8px);
	-o-transform: translateX(-8px);
	-ms-transform: translateX(-8px);
}
	.col-xxs-5 {
	flex: 0 0 33.20%;
    	max-width: 33.20%;
}
	.col-xxs-4 {
	flex: 0 0 43.20%;
    	max-width: 43.20%;
}
}
@media only screen and (min-width: 317px) and (max-width: 323px) {
	.col-xxs-4 .site-name {
	-webkit-transform: translateX(-15px);
	-moz-transform: translateX(-15px);
	-o-transform: translateX(-15px);
	-ms-transform: translateX(-15px);
}
	.col-xxxs-5 {
	flex: 0 0 35.20%;
    	max-width: 35.20%;
}
}
@media only screen and (min-width: 305px) and (max-width: 316px) {
	.col-sm-4 .teacherdash, .col-sm-4 .editingbutton {
	-webkit-transform: translateX(-12px);
	-moz-transform: translateX(-12px);
	-o-transform: translateX(-12px);
	-ms-transform: translateX(-12px);
}
	.col-xxs-4 .site-name {
	-webkit-transform: translateX(-15px);
	-moz-transform: translateX(-15px);
	-o-transform: translateX(-15px);
	-ms-transform: translateX(-15px);
}
	.col-xxxs-5 {
	flex: 0 0 35.20%;
    	max-width: 35.20%;
}
	.col-xxs-4 {
	flex: 0 0 43.20%;
    	max-width: 43.20%;
}
}
@media only screen and (min-width: 299px) and (max-width: 304px) {
.col-sm-4 .teacherdash {
	-webkit-transform: translateX(-12px);
	-moz-transform: translateX(-12px);
	-o-transform: translateX(-12px);
	-ms-transform: translateX(-12px);
}
	.col-sm-4 .editingbutton {
	-webkit-transform: translateX(-14px);
	-moz-transform: translateX(-14px);
	-o-transform: translateX(-14px);
	-ms-transform: translateX(-14px);
}
.col-xxs-4 .site-name {
	-webkit-transform: translateX(-15px);
	-moz-transform: translateX(-15px);
	-o-transform: translateX(-15px);
	-ms-transform: translateX(-15px);
}
	.col-xxxs-5 {
	flex: 0 0 36.20%;
    	max-width: 36.20%;
}
}
@media only screen and (min-width: 293px) and (max-width: 298px) {
.col-sm-4 .teacherdash {
	-webkit-transform: translateX(-12px);
	-moz-transform: translateX(-12px);
	-o-transform: translateX(-12px);
	-ms-transform: translateX(-12px);
}
	.col-sm-4 .editingbutton {
	-webkit-transform: translateX(-14px);
	-moz-transform: translateX(-14px);
	-o-transform: translateX(-14px);
	-ms-transform: translateX(-14px);
}
.col-xxs-4 .site-name {
	-webkit-transform: translateX(-15px);
	-moz-transform: translateX(-15px);
	-o-transform: translateX(-15px);
	-ms-transform: translateX(-15px);
}
	.col-xxxs-5 {
	flex: 0 0 37.20%;
    	max-width: 37.20%;
}
}
@media only screen and (min-width: 288px) and (max-width: 292px) {
.col-sm-4 .teacherdash {
	-webkit-transform: translateX(-12px);
	-moz-transform: translateX(-12px);
	-o-transform: translateX(-12px);
	-ms-transform: translateX(-12px);
}
	.col-sm-4 .editingbutton, .col-xxs-4 .site-name {
	-webkit-transform: translateX(-15px);
	-moz-transform: translateX(-15px);
	-o-transform: translateX(-15px);
	-ms-transform: translateX(-15px);
}
	.col-xxxs-5 {
	flex: 0 0 38.20%;
    	max-width: 38.20%;
}
}
@media only screen and (min-width: 284px) and (max-width: 287px) {
.col-sm-4 .teacherdash {
	-webkit-transform: translateX(-12px);
	-moz-transform: translateX(-12px);
	-o-transform: translateX(-12px);
	-ms-transform: translateX(-12px);
}
	.col-sm-4 .editingbutton {
	-webkit-transform: translateX(-15px);
	-moz-transform: translateX(-15px);
	-o-transform: translateX(-15px);
	-ms-transform: translateX(-15px);
}
.col-xxs-4 .site-name {
	-webkit-transform: translateX(-17px);
	-moz-transform: translateX(-17px);
	-o-transform: translateX(-17px);
	-ms-transform: translateX(-17px);
}
	.col-xxxs-5 {
	flex: 0 0 39.20%;
    	max-width: 39.20%;
}
}
@media only screen and (min-width: 200px) and (max-width: 283px) {
.col-sm-4 .teacherdash {
	-webkit-transform: translateX(-13px);
	-moz-transform: translateX(-135px);
	-o-transform: translateX(-13px);
	-ms-transform: translateX(-13px);
}
	.col-sm-4 .editingbutton {
	-webkit-transform: translateX(-17px);
	-moz-transform: translateX(-17px);
	-o-transform: translateX(-17px);
	-ms-transform: translateX(-17px);
}
.col-xxs-4 .site-name {
	-webkit-transform: translateX(-19px);
	-moz-transform: translateX(-197px);
	-o-transform: translateX(-19px);
	-ms-transform: translateX(-19px);
}
	.col-xxxs-5 {
	flex: 0 0 41.20%;
    	max-width: 41.20%;
}
	.col-xxs-4 {
	flex: 0 0 40.20%;
    	max-width: 40.20%;
}
}
@media only screen and (min-width: 324px) and (max-width: 349px) {
	.dropdown-toggle::after {
	position: relative;
	left: -11px;
	}
}
@media only screen and (min-width: 312px) and (max-width: 323px) {
	.dropdown-toggle::after {
	position: relative;
	left: -15px;
	}
}
@media only screen and (min-width: 301px) and (max-width: 311px) {
	.dropdown-toggle::after {
	position: relative;
	left: -21px;
	}
	.avatar img {
	position: relative;
	left: -11px;
	}
}
@media only screen and (min-width: 294px) and (max-width: 300px) {
	.dropdown-toggle::after {
	position: relative;
	left: -25px;
	}
	.avatar img {
	position: relative;
	left: -11px;
	}
}
@media only screen and (min-width: 200px) and (max-width: 293px) {
	.dropdown-toggle::after {
	position: relative;
	left: -30px;
	}
	.avatar img {
	position: relative;
	left: -13px;
	}
}
</style>
{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page navbar.
}}
<nav class="navbar-fhs {{#output.show_teacher_navbarcolor}}navbar-teacher{{/output.show_teacher_navbarcolor}} {{#output.show_student_navbarcolor}}navbar-student{{/output.show_student_navbarcolor}} navbar-expand moodle-has-zindex" style="position:fixed!important;top:0;z-index:5;width:100%;box-shadow: 0 0 20px -5px rgba(86, 111, 221,.9);">

<div class="row" style="height:40px;">
    {{#hasfhsdrawer}}
        <div data-region="drawer-toggle" class="d-inline-block mr-3">
            <button aria-expanded="{{#navdraweropen}}true{{/navdraweropen}}{{^navdraweropen}}false{{/navdraweropen}}" aria-controls="nav-drawer" type="button" class="btn nav-link float-sm-left mr-1 btn-secondary" data-action="toggle-drawer" data-side="left" data-preference="drawer-open-nav">{{#pix}}i/menubars{{/pix}}<span class="sr-only">{{#str}}sidepanel, core{{/str}}</span></button>
        </div>
    {{/hasfhsdrawer}}

<div id="nav-mobile" class="col-md-4 col-sm-4 col-xs-4 col-xxs-5 col-xxxs-5" style="display:flex;justify-content:start;height:inherit;">
	<div class="coursecontrols nav-item d-flex align-items-center" style="position:relative;top:6px;">
            {{{ output.teacherdashmenu }}}
            {{{ output.edit_button_fhs }}}
        </div>
</div>

<div id="nav-mobile" class="col-md-4 col-sm-6 col-xs-6 col-xxs-4" style="display:flex;justify-content:center;height:inherit;">
        <a href="{{{ config.wwwroot }}}" class="navbar-brand {{# output.should_display_navbar_logo }}has-logo{{/ output.should_display_navbar_logo }}
            {{^ output.should_display_navbar_logo }}
                d-none d-sm-inline
            {{/ output.should_display_navbar_logo }}
                ">
            {{# output.should_display_navbar_logo }}
                <span class="logo d-none d-sm-inline">
                    <img src="{{output.get_compact_logo_url}}" alt="{{sitename}}">
                </span>
            {{/ output.should_display_navbar_logo }}
            <span class="site-name d-none d-md-inline" style="position:relative;top:-10px;">{{{ sitename }}}</span>
        </a>
 </div>
       
        <!-- course_controls -->
<div id="nav-mobile" class="col-md-4 col-sm-2 col-xs-2" style="display:flex;justify-content:end;height:inherit;">
	
        <ul class="navbar-nav d-none d-md-flex">
            <!-- custom_menu -->
            {{{ output.fordson_custom_menu }}}
            {{{ output.custom_menu }}}
            <!-- page_heading_menu -->
            {{{ output.page_heading_menu }}}
        </ul>
        <ul class="nav navbar-nav ml-auto">
            <div class="d-none d-lg-block">
            {{{ output.search_box }}}
        </div>

            <!-- navbar_plugin_output -->
            <li class="nav-item">
            {{{ output.navbar_plugin_output }}}
            </li>
            <!-- user_menu -->
            <li class="nav-item d-flex align-items-center" style="position:relative;top:6px;">
                {{{ output.user_menu }}}
            </li>
        </ul>
	<!-- search_box -->
</div>
</div>
<div style="color:#fff;text-align:center;padding-bottom:5px;font-size:22px;font-weight:600;font-style:italic;letter-spacing:1px;word-spacing:-2px;">
	ကျောင်းပြင်ပနှင့် သက်မွေးဝမ်းကျောင်းပညာရေး
</div> 
</nav>

